*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* start-header */
/* start-top-nav */
header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
header .container-h .top-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 300px;
    height: 100px;
}
header .container-h .top-nav .open-nav{
    display: none;
}
header .container-h .top-nav .logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
header .container-h .top-nav .logo mark{
    background-color: transparent;
    color: rgb(255 135 23);
}
header .container-h .top-nav .sear-bar .form-search .eyes-categorie{
    display: inline-block;
    position: relative;
}


header .container-h .top-nav .sear-bar .form-search .select-box{
   border: none;
   outline: none;
   width: 200px;
   height: 30px;
   text-transform: uppercase;
   text-align: center;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
   color: rgb(255 135 23);
   font-weight: bold;
   font-size: 20px;
   cursor: pointer;
}
header .container-h .top-nav .sear-bar .form-search .search-input{
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
header .container-h .top-nav .sear-bar .form-search .search-input .search{
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}
header .container-h .top-nav .sear-bar .form-search .search-input .submit{
    position: absolute;
    top: 2px;
    right: 14px;
    background: transparent;
    border: none;
    outline: none;
}
header .container-h .top-nav .sear-bar .form-search .search-input .submit .bi{
    color: rgb(255 135 23);
    font-size: 25px;
    font-weight: bold;
}
header .container-h .top-nav .favourite-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header .container-h .top-nav .favourite-shop .fav{
    position: relative;
}
header .container-h .top-nav .favourite-shop .fav .bi{
    color: rgb(255 135 23);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
header .container-h .top-nav .favourite-shop .fav .fav-num{
    background-color: #fff;
    color: #000;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    bottom: 28px;
    left: 20px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
}
header .container-h .top-nav .favourite-shop .shop{
    position: relative;
}
header .container-h .top-nav .favourite-shop .shop .bi{
    color: rgb(255 135 23);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
header .container-h .top-nav .favourite-shop .shop .shop-num{
    background-color: #fff;
    color: #000;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    bottom: 28px;
    left: 20px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
}
/* end-top-nav */
/* start-bottom-nav */
header .container-h .bottom-nav{
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 550px;
}
header .container-h .bottom-nav .close-nav{
    display: none;
}

header .container-h .bottom-nav .nav-items-h{
    margin: 0;
    padding: 0;
    list-style: none;
}
header .container-h .bottom-nav .nav-items-h .nav-link-h{
    display: inline-block;
    margin-right: 20px;
    
}


header .container-h .bottom-nav .nav-items-h .nav-link-h .link-item-h{
    text-decoration: none !important;
    color: #fff !important;
    font-size: 20px !important;
    font-weight: bold !important;
    transition: all 0.6s !important;
    text-transform: capitalize;
}
header .container-h .bottom-nav .nav-items-h .nav-link-h .active{
    color: rgb(255 135 23) !important;
}
header .container-h .bottom-nav .nav-items-h .nav-link-h .link-item-h:hover{
    color: rgb(255 135 23) !important;
}
header .container-h .bottom-nav .log-sign .logn{
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 20px;
    text-transform: capitalize;
    background-color: rgb(255 135 23);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.6s;
}
header .container-h .bottom-nav .log-sign .logn:hover{
    color: #000;
}
header .container-h .bottom-nav .log-sign .sign{
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: capitalize;
    background-color: rgb(255 135 23);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 30px;
    transition: all 0.6s;
}
header .container-h .bottom-nav .log-sign .sign:hover{
    color: #000;
}

/* end-bottom-nav */
/* end-header */
/* start-slider */
.slider-co .container-co{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 200px;
}

.slider-co .container-co .carousel .carousel-inner .active{
   transition: all 0.6s;
}
.slider-co .container-co .carousel .carousel-indicators{
    left:0;
    right: 10px;
    top: 460px;
    margin-left: 0;
    margin-right: 834px;
}
.slider-co .container-co .carousel .carousel-indicators button{
    background-color: rgb(255 135 23);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slider-co .container-co .carousel .carousel-inner .carousel-item img{
  display: block;
  transition: all 0.6s;
  cursor: pointer;
}
.slider-co .container-co .carousel .carousel-inner .carousel-item img:hover{
   transform: scale(0.9);

  }
  .slider-co .container-co .side-bar img{
    width: 100%;
    height: 500px;
    object-fit: cover;
   cursor: pointer;
   transition: all 0.6s;
  }
  .slider-co .container-co .side-bar img:hover{
    transform: scale(0.9);
  }
/* end-slider */
/* start-bottom-banner */
.banner .container{
    margin: 30px auto;
}
.banner .container .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:row wrap;
    gap: 40px;
}
.banner .container .row .banner-cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    transition: all 0.6s;
    cursor: pointer;
}
.banner .container .row .banner-cart:hover{
    transform: scale(1.1);
}

.banner .container .row .banner-cart img{
    width: 100px;
}
.banner .container .row .banner-cart .content-cart h5{
    color:rgb(255 135 23) ;
    text-transform: capitalize;
    transition: all 0.6s;
    cursor: pointer;
}
.banner .container .row .banner-cart .content-cart h5:hover{
    color:rgb(255, 255, 255) ;
}
.banner .container .row .banner-cart .content-cart .percent-up-to{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.banner .container .row .banner-cart .content-cart .percent-up-to .percent{
    display: block;
    color:rgb(255 135 23) ;
    transition: all 0.6s;
    cursor: pointer;
}
.banner .container .row .banner-cart .content-cart .percent-up-to .percent:hover{
    color:rgb(255, 255, 255) ;
}
.banner .container .row .banner-cart .content-cart .percent-up-to  .up-to{
    color: rgb(255 135 23);
    margin-top: 15px;
    transition: all 0.6s;
    cursor: pointer;
}
.banner .container .row .banner-cart .content-cart .percent-up-to  .up-to .up:hover{
    color: rgb(255, 255, 255);
}
.banner .container .row .banner-cart .content-cart .percent-up-to  .up-to .to:hover{
    color: rgb(255, 255, 255);
}
.banner .container .row .banner-cart .content-cart  .fast-shop{
    text-transform: capitalize;
    color: rgb(255 135 23);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.6s;
}
.banner .container .row .banner-cart .content-cart  .fast-shop:hover{
    color: rgb(255, 255, 255);
}
/* end-bottom-banner */
/* start-hot-dick */
.hot-dick {
    position: relative;
}
.hot-dick .container-hot{
    margin: 100px 50px;
}
.hot-dick .container-hot .hot{
    text-transform: capitalize;
    background-color: #000;
    width: max-content;
    color: rgb(255 135 23);
    padding: 10px 20px;
    position: relative;
}
.hot-dick .container-hot .hot::before{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 50px;
    left:2px;
    transform: rotate(45deg);
}
.hot-dick .container-hot .hot::after{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 50px;
    right:2px;
    transform: rotate(45deg);
}
.hot-dick .container-hot .line{
    background-color: rgb(255 135 23);
    height: 3px;
    width: 90%;
    display: block;
    position: absolute;
    top: 54px;
}
.hot-dick .container-hot  .hot-carts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.hot-dick .container-hot  .hot-carts .hot-cart{
    width: 300px;
    height: 320px;
    background-color: #000;
    padding-left: 30px;
    border-radius: 10px;
    position: relative;
}
.hot-dick .container-hot .hot-carts .hot-cart img{
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.hot-dick .container-hot  .hot-carts .hot-cart .stars .star-1{
    color: #eeff00;
    font-size: 20px;
}
.hot-dick .container-hot  .hot-carts .hot-cart .stars .star-2{
    color: #eeff00;
    font-size: 20px;
}
.hot-dick .container-hot  .hot-carts .hot-cart .stars .star-3{
    color: #eeff00;
    font-size: 20px;
}
.hot-dick .container-hot  .hot-carts .hot-cart .stars .star-4{
    color: #ffffff;
    font-size: 20px;
}
.hot-dick .container-hot .hot-carts .hot-cart .stars .star-5{
    color: #ffffff;
    font-size: 20px;
}
.hot-dick .container-hot .hot-carts .hot-cart .name{
    color: rgb(255 135 23);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
}
.hot-dick .container-hot  .hot-carts .hot-cart .salayres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 30px;
}
.hot-dick .container-hot .hot-carts .hot-cart .salayres .salayre{
    color: rgb(255 135 23);
    font-size: 17px;
}

.hot-dick .container-hot .hot-carts .hot-cart .salayres .old-salayre{
    color: rgb(255 135 23);
    font-size: 17px;
    text-decoration: line-through;
}
.hot-dick .container-hot  .hot-carts .hot-cart .buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 40px;
    
}
.hot-dick .container-hot  .hot-carts .hot-cart .buttons .add{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 25px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.6s;
}
.hot-dick .container-hot .hot-carts .hot-cart .buttons .add.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
    pointer-events: none;
}
.hot-dick .container-hot  .hot-carts .hot-cart .buttons .add .bi{
    color: #000000;
    font-size: 20px;
    margin-left: 10px;
}

.hot-dick .container-hot  .hot-carts .hot-cart .buttons .favourit{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 40px;
    transition: all 0.6s;
}
.hot-dick .container-hot .hot-carts .hot-cart .buttons .favourit.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
}
.hot-dick .container-hot  .hot-carts .hot-cart .buttons .favourit .bi{
    color: #fff;
    font-size: 20px;
    transition: all 0.6s;
}
.hot-dick .container-hot  .hot-carts .hot-cart .buttons .favourit .bi.active{
    color: rgb(255, 135, 23);
}
.hot-dick .container-hot  .hot-carts .hot-cart .discount{
    background-color: rgb(255 135 23);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
}
/* end-hot-dick */
/* start-banner-box */
.banner-box .container-box{
    margin: 50px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.banner-box .container-box img{
    width: 620px;
}
/* end-banner-box */
/* start-electronics */
.electronics {
    position: relative;
}
.electronics .container-electronic{
    margin: 100px 50px;
}
.electronics .container-electronic .electr{
    text-transform: capitalize;
    background-color: #000;
    width: max-content;
    color: rgb(255 135 23);
    padding: 10px 20px;
    position: relative;
}
.electronics .container-electronic .electr::before{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 50px;
    left:2px;
    transform: rotate(45deg);
}
.electronics .container-electronic .electr::after{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 50px;
    right:2px;
    transform: rotate(45deg);
}
.electronics .container-electronic .line{
    background-color: rgb(255 135 23);
    height: 3px;
    width: 90%;
    display: block;
    position: absolute;
    top: 54px;
}
.electronics .container-electronic  .electro-carts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.electronics .container-electronic  .electro-carts .el-cart{
    width: 300px;
    height: 320px;
    background-color: #000;
    padding-left: 30px;
    border-radius: 10px;
    position: relative;
}
.electronics .container-electronic .electro-carts .el-cart img{
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.electronics .container-electronic  .electro-carts .el-cart .stars .star-1{
    color: #eeff00;
    font-size: 20px;
}
.electronics .container-electronic  .electro-carts .el-cart .stars .star-2{
    color: #eeff00;
    font-size: 20px;
}
.electronics .container-electronic  .electro-carts .el-cart .stars .star-3{
    color: #eeff00;
    font-size: 20px;
}
.electronics .container-electronic  .electro-carts .el-cart .stars .star-4{
    color: #ffffff;
    font-size: 20px;
}
.electronics .container-electronic .electro-carts .el-cart .stars .star-5{
    color: #ffffff;
    font-size: 20px;
}
.electronics .container-electronic .electro-carts .el-cart .name{
    color: rgb(255 135 23);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
}
.electronics .container-electronic  .electro-carts .el-cart .salayres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 30px;
}
.electronics .container-electronic .electro-carts .el-cart .salayres .salayre{
    color: rgb(255 135 23);
    font-size: 17px;
}

.electronics .container-electronic .electro-carts .el-cart .salayres .old-salayre{
    color: rgb(255 135 23);
    font-size: 17px;
    text-decoration: line-through;
}
.electronics .container-electronic  .electro-carts .el-cart .buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 40px;
    
}
.electronics .container-electronic  .electro-carts .el-cart .buttons .add{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 25px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.6s;
}
.electronics .container-electronic .electro-carts .el-cart .buttons .add.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
    pointer-events: none;
}
.electronics .container-electronic  .electro-carts .el-cart .buttons .add .bi{
    color: #000000;
    font-size: 20px;
    margin-left: 10px;
}

.electronics .container-electronic  .electro-carts .el-cart .buttons .favourit{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 40px;
    transition: all 0.6s;
}
.electronics .container-electronic .electro-carts .el-cart .buttons .favourit.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
}
.electronics .container-electronic  .electro-carts .el-cart .buttons .favourit .bi{
    color: #fff;
    font-size: 20px;
    transition: all 0.6s;
}
.electronics .container-electronic  .electro-carts .el-cart .buttons .favourit .bi.active{
    color: rgb(255, 135, 23);
}
.electronics .container-electronic  .electro-carts .el-cart .discount{
    background-color: rgb(255 135 23);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
}
/* end-electronics */
/* start-appliances */
.appliances {
    position: relative;
}
.appliances .container-appliances{
    margin: 100px 50px;
}
.appliances .container-appliances .appliance{
    text-transform: capitalize;
    background-color: #000;
    width: max-content;
    color: rgb(255 135 23);
    padding: 10px 20px;
    position: relative;
}
.appliances .container-appliances .appliance::before{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 48px;
    left:2px;
    transform: rotate(45deg);
}
.appliances .container-appliances .appliance::after{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 48px;
    right:2px;
    transform: rotate(45deg);
}
.appliances .container-appliances .line{
    background-color: rgb(255 135 23);
    height: 3px;
    width: 90%;
    display: block;
    position: absolute;
    top: 54px;
}
.appliances .container-appliances  .appliances-carts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.appliances .container-appliances .appliances-carts .app-cart{
    width: 300px;
    height: 320px;
    background-color: #000;
    padding-left: 30px;
    border-radius: 10px;
    position: relative;
}
.appliances .container-appliances .appliances-carts .app-cart img{
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.appliances .container-appliances  .appliances-carts .app-cart .stars .star-1{
    color: #eeff00;
    font-size: 20px;
}
.appliances .container-appliances  .appliances-carts .app-cart .stars .star-2{
    color: #eeff00;
    font-size: 20px;
}
.appliances .container-appliances  .appliances-carts .app-cart .stars .star-3{
    color: #eeff00;
    font-size: 20px;
}
.appliances .container-appliances  .appliances-carts .app-cart .stars .star-4{
    color: #ffffff;
    font-size: 20px;
}
.appliances .container-appliances .appliances-carts .app-cart .stars .star-5{
    color: #ffffff;
    font-size: 20px;
}
.appliances .container-appliances .appliances-carts .app-cart .name{
    color: rgb(255 135 23);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
}
.appliances .container-appliances  .appliances-carts .app-cart .salayres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 30px;
}
.appliances .container-appliances .appliances-carts .app-cart .salayres .salayre{
    color: rgb(255 135 23);
    font-size: 17px;
}

.appliances .container-appliances .appliances-carts .app-cart .salayres .old-salayre{
    color: rgb(255 135 23);
    font-size: 17px;
    text-decoration: line-through;
}
.appliances .container-appliances  .appliances-carts .app-cart .buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 40px;
    
}
.appliances .container-appliances  .appliances-carts .app-cart .buttons .add{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 25px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.6s;
}
.appliances .container-appliances .appliances-carts .app-cart .buttons .add.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
    pointer-events: none;
}
.appliances .container-appliances  .appliances-carts .app-cart .buttons .add .bi{
    color: #000000;
    font-size: 20px;
    margin-left: 10px;
}

.appliances .container-appliances  .appliances-carts .app-cart .buttons .favourit{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 40px;
    transition: all 0.6s;
}
.appliances .container-appliances .appliances-carts .app-cart .buttons .favourit.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
}
.appliances .container-appliances  .appliances-carts .app-cart .buttons .favourit .bi{
    color: #fff;
    font-size: 20px;
    transition: all 0.6s;
}
.appliances .container-appliances  .appliances-carts .app-cart .buttons .favourit .bi.active{
    color: rgb(255, 135, 23);
}
.appliances .container-appliances  .appliances-carts .app-cart .discount{
    background-color: rgb(255 135 23);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
}
/* end-appliances */
/* start-banner-box2 */
.banner-box2 .container-banner-box2{
    margin: 50px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.banner-box2 .container-banner-box2 img{
    width: 400px;
}
/* end-banner-box2 */
/* start-mobiles */
.mobiles {
    position: relative;
}
.mobiles .container-mobiles{
    margin: 100px 50px;
}
.mobiles .container-mobiles .mobiles{
    text-transform: capitalize;
    background-color: #000;
    width: max-content;
    color: rgb(255 135 23);
    padding: 10px 20px;
    position: relative;
}
.mobiles .container-mobiles .mobiles::before{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 49px;
    left:2px;
    transform: rotate(45deg);
}
.mobiles .container-mobiles .mobiles::after{
    content: " ";
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 135, 23);
    border-bottom: 5px solid rgb(255, 135, 23);
    border-left: 5px solid transparent;
    position: absolute;
    bottom: 49px;
    right:2px;
    transform: rotate(45deg);
}
.mobiles .container-mobiles .line{
    background-color: rgb(255 135 23);
    height: 3px;
    width: 90%;
    display: block;
    position: absolute;
    top: 54px;
}
.mobiles .container-mobiles .mobiles-carts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart{
    width: 300px;
    height: 320px;
    background-color: #000;
    padding-left: 30px;
    border-radius: 10px;
    position: relative;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart img{
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .stars .star-1{
    color: #eeff00;
    font-size: 20px;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .stars .star-2{
    color: #eeff00;
    font-size: 20px;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .stars .star-3{
    color: #eeff00;
    font-size: 20px;
}
.mobiles .container-mobiles  .mobiles-carts .mob-cart .stars .star-4{
    color: #ffffff;
    font-size: 20px;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .stars .star-5{
    color: #ffffff;
    font-size: 20px;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .name{
    color: rgb(255 135 23);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
}
.mobiles .container-mobiles  .mobiles-carts .mob-cart .salayres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 30px;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .salayres .salayre{
    color: rgb(255 135 23);
    font-size: 17px;
}

.mobiles .container-mobiles .mobiles-carts .mob-cart .salayres .old-salayre{
    color: rgb(255 135 23);
    font-size: 17px;
    text-decoration: line-through;
}
.mobiles .container-mobiles  .mobiles-carts .mob-cart .buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: row wrap;
    gap: 40px;
    
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .buttons .add{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 25px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.6s;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .buttons .add.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
    pointer-events: none;
}
.mobiles .container-mobiles  .mobiles-carts .mob-cart .buttons .add .bi{
    color: #000000;
    font-size: 20px;
    margin-left: 10px;
}

.mobiles .container-mobiles  .mobiles-carts .mob-cart .buttons .favourit{
    border: none;
    outline: none;
    background-color: rgb(255 135 23);
    color: #fff;
    padding: 10px 40px;
    transition: all 0.6s;
}
.mobiles .container-mobiles .mobiles-carts .mob-cart .buttons .favourit.active{
    background-color: rgb(255, 255, 255);
    color: rgb(255 135 23);
}
.mobiles .container-mobiles  .mobiles-carts .mob-cart .buttons .favourit .bi{
    color: #fff;
    font-size: 20px;
    transition: all 0.6s;
}
.mobiles .container-mobiles  .mobiles-carts .mob-cart .buttons .favourit .bi.active{
    color: rgb(255, 135, 23);
}
.mobiles .container-mobiles  .mobiles-carts .mob-cart .discount{
    background-color: rgb(255 135 23);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
}
/* end-mobiles */
/* start-scroll-button */
.scrol-button{
    position: relative;
    right:50px;
    bottom: 30px;
    text-align: right;
}
.scrol-button .move-top{
    border: none;
    outline: none;
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.6s;
}
.scrol-button .move-top a{
    text-decoration: none;
    color:rgb(255 135 23);
    font-weight: bold;
    transition: all 0.6s;
}
.scrol-button .move-top:hover{
   transform: translateY(-20px);
}
.scrol-button .move-top a:hover{
   color: #fff;
}
/* end-scroll-button */
/* start-basket */
.basket{
    position: fixed;
    top: 0;
    right:-300px;
    bottom: 0;
    background-color: #000;
    z-index: 100;
    width:300px;
    transition: all 0.6s;
}
.basket.active{
    right: 0;
}


.basket .container .row .top-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #fff;
}
.basket .container .row .top-item .n-item{
    font-size: 18px;
    font-weight: bold;
    color: rgb(255 135 23);
    margin: 30px 20px;
    text-transform: capitalize;
}
.basket .container .row .top-item .n-item .num-items{
    color: #fff;
}
.basket .container .row .top-item  .close{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 15px;
    margin-right: 10px;
    margin-top: 5px;
}
.basket .container .row .top-item  .close .bi{
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left:0px;
    transition: all 0.6s;
    cursor: pointer;
}
.basket .container .row .top-item  .close .bi:hover{
    color: rgb(255 135 23);
}
.basket .container .row .carts{
    overflow-y:auto;
    -webkit-overflow-scrolling: auto;
    height: 350px;
}
.basket .container .row .carts .cart-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #fff;
}

.basket .container .row .carts .cart-select .content-cart img{
    width: 60px;
    height: 60px;
    margin: 10px 20px;
}
.basket .container .row .carts .cart-select .content-cart .name{
    color: rgb(255, 135, 23);
    line-height: 25px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0px 20px;
}
.basket .container .row .carts .cart-select .content-cart .salarye{
    color: #fff;
    font-size: 18px;
    margin: 10px 20px;
}
.basket .container .row .carts .cart-select .content-cart .buttons-inc-dec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin: 10px 20px;
}
.basket .container .row .carts .cart-select .content-cart .buttons-inc-dec .decreas{
    border: none;
    outline: none;
    background-color: rgb(255, 135, 23);
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
    transition: all 0.6s;
}
.basket .container .row .carts .cart-select .content-cart .buttons-inc-dec .decreas:hover{
    color: #000;
}
.basket .container .row .carts .cart-select .content-cart .buttons-inc-dec .num-product{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.basket .container .row .carts .cart-select .content-cart .buttons-inc-dec .increase{
    border: none;
    outline: none;
    background-color: rgb(255, 135, 23);
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
    transition: all 0.6s;
}
.basket .container .row .carts .cart-select .content-cart .buttons-inc-dec .increase:hover{
    color: #000;
}
.basket .container .row .carts .cart-select .delete{
    display: block;
    margin-bottom: 35px;
}
.basket .container .row .carts .cart-select .delete .bi{
    color: rgb(255, 135, 23);
    transition: all 0.6s;
    cursor: pointer;
}
.basket .container .row .carts .cart-select .delete .bi:hover{
    color: rgb(255, 255, 255);
}
.basket .container .row .bottom-item{
    border-top: 1px solid #fff;
    margin-top: 50px;
}
.basket .container .row .bottom-item .sub-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 10px 20px;
}
.basket .container .row .bottom-item .sub-total .sub{
    color: rgb(255, 135, 23);
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bold;
}
.basket .container .row .bottom-item .sub-total .total{
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bold;
    margin: 0 30px 18px 0;
}
.basket .container .row .bottom-item .check-shop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}
.basket .container .row .bottom-item .check-shop .check{
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgb(255 135 23);
    padding: 10px 20px;
}
.basket .container .row .bottom-item .check-shop .check a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.6s;
}
.basket .container .row .bottom-item .check-shop .check a:hover{
    color: #000000;
}
.basket .container .row .bottom-item .check-shop .shop{
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgb(255 135 23);
    padding: 10px 20px;
    transition: all 0.6s;
    font-weight: bold;
    color: #fff;
}
.basket .container .row .bottom-item .check-shop .shop:hover{
    color: #000;
}
/* end-basket */
/* start-check-out */
main {
    margin-top: 300px;
    margin-bottom: 100px;
}
main .container .row #check{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
}
main .container .row #check .carts-check{
    width: 450px;
    background-color: #000;
    box-shadow:  2px 2px 5px rgb(255, 255, 255);
    border-radius: 10px;
}
main .container .row #check .carts-check h3{
    background-color: rgb(255, 135, 23);
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
main .container .row #check .carts-check .cart-selected-ptoduct{
    height: 400px;
    overflow-y: auto;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid #fff;
    padding: 30px 30px;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart img{
    width: 60px;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart .name{
    color: #fff;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart .salarye{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart .buttons-inc-dec .decreas{
    background-color: rgb(255, 135, 23);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart .buttons-inc-dec .num-product{
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart .buttons-inc-dec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .content-cart .buttons-inc-dec .increase{
    background-color: rgb(255, 135, 23);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .delete {
    display: inline-block;
    margin-right: 10px;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .delete .bi {
   color: rgb(255, 135, 23);
   cursor: pointer;
   transition: all 0.6s;
}
main .container .row #check .carts-check .cart-selected-ptoduct .cart-select .delete .bi:hover {
    color: rgb(255, 255, 255);
 }
 main .container .row #check .carts-check .sub-total{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 255px;
 }
 main .container .row #check .carts-check .sub-total .sub{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
 }
 main .container .row #check .carts-check .sub-total .salary-sub{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 16px;
 }
 main .container .row #check .carts-check .shoping{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 255px;
 }
 main .container .row #check .carts-check .shoping .shop{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
 }
 main .container .row #check .carts-check .shoping .salary-shop{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 16px;
 }
 main .container .row #check .carts-check .shoping-total{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 285px;
 }
 main .container .row #check .carts-check .shoping-total .shop-total{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
 }
 main .container .row #check .carts-check .shoping-total .salary-total{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 16px;
 }
 main .container .row #check .carts-check #submit{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(255, 135, 23);
    color: #fff;
    padding: 15px 20px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    transition: all 0.6s;
 }
 main .container .row #check .carts-check #submit:hover{
    color: #000000;
 }
 main .container .row #check .address-coupon{
    width: 450px;
    background-color: #000;
    box-shadow:  2px 2px 5px rgb(255, 255, 255);
 }
 main .container .row #check .address-coupon .del{
    background-color: rgb(255, 135, 23);
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    padding: 20px 0;
 }
 main .container .row #check .address-coupon .information-client{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px 30px;
 }
 main .container .row #check .address-coupon .information-client label{
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
 }
 main .container .row #check .address-coupon .information-client input{
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    display: block;
 }

 main .container .row #check .address-coupon .coupone h3{
    background-color: rgb(255, 135, 23);
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    padding: 10px 0;
 }
 main .container .row #check .address-coupon .coupone label{
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
    margin: 10px 30px;
 }
 main .container .row #check .address-coupon .coupone input{
    border: none;
    outline: none;
    padding: 10px 10px;
    width: 87%;
    display: block;
    margin: 0 30px;
 }
 main .container .row #check .address-coupon .coupone .applay{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(255, 135, 23);
    color: #fff;
    padding: 15px 20px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    transition: all 0.6s;
 }
 main .container .row #check .address-coupon .coupone .applay:hover{
    color: #000000;
 }
/* end-check-out */
/* start-footer */
footer .container-fluid{
    background-color: rgb(0, 0, 0);
    padding: 100px 0;
}
footer .container-fluid .container .row{
    display: flex;
    justify-content: center;
}
footer .container-fluid .container .row >*{
    width: 30%;
}
footer .container-fluid .container .row .zay .zay-list{
    margin-top: 30px;
}
footer .container-fluid .container .row .zay .zay-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
footer .container-fluid .container .row .zay .zay-list ul li{
    color: #fff;
    margin: 10px 0;
    transition: all 0.6s;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
}
footer .container-fluid .container .row .zay .zay-list ul li:hover{
    color: rgb(255, 135, 23);
   
}
footer .container-fluid .container .row .zay .zay-list ul li .bi{
    color: #fff;
    margin-right: 12px;
}
footer .container-fluid .container .row .prod .prod-list{
    margin-top: 50px;
}
footer .container-fluid .container .row .prod .prod-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
footer .container-fluid .container .row .prod .prod-list ul li{
    color: #fff;
    margin: 10px 0;
    transition: all 0.6s;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
}
footer .container-fluid .container .row .prod .prod-list ul li:hover{
    color:rgb(255, 135, 23);
}
footer .container-fluid .container .row .prod .prod-list ul li .bi{
    color: #fff;
    margin-right: 12px;
}
footer .container-fluid .container .row .furt .furt-list{
    margin-top:50px;
}
footer .container-fluid .container .row .furt .furt-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
footer .container-fluid .container .row .furt .furt-list ul li{
    color: #fff;
    margin: 10px 0;
    transition: all 0.6s;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
}
footer .container-fluid .container .row .furt .furt-list ul li:hover{
    color:rgb(255, 135, 23);
}
footer .container-fluid .container .row .furt .furt-list ul li .bi{
    color: #fff;
    margin-right: 12px;
}
footer .container-fluid .container .search{
    border-top: 1px solid #fff;
    margin-top: 30px;
    display: flex;
   justify-content: center;
   align-items: center;
}
footer .container-fluid .container .search .socia-links{
    margin-top: 30px;
}
footer .container-fluid .container .search .socia-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .container-fluid .container .search .socia-links ul li{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left:20px;
    transition: all 0.6s;
}
footer .container-fluid .container .search .socia-links ul li:hover{
    background-color: rgb(255 135 23);
    border: 1px solid #000000;
}
footer .container-fluid .container .search .socia-links ul li a{
    text-decoration: none;
}
footer .container-fluid .container .search .socia-links ul li a .bi{
   color: #fff;
   line-height: 40px;
   margin-left: 10px;
   font-size: 22px;
   transition: all 0.6s;
}
footer .container-fluid .container .search .socia-links ul li a:hover .bi{
   color: #000000;
 }

/* end-footer */
/* start-responsive */
@media screen and (max-width:1320px){
    header .container-h .top-nav {
        gap: 236px;
    }
    main {
        margin: 300px 0 100px 0;
    }
    header .container-h .bottom-nav {
        gap: 425px;
    }
    .hot-dick .container-hot .hot-carts .hot-cart {
        width: 297px;
    }
    .banner-box .container-box img {
        width: 607px;
    }
    .electronics .container-electronic .electro-carts .el-cart {
        width: 297px;
    }
    .appliances .container-appliances .appliances-carts .app-cart {
        width: 297px;
    }
    .mobiles .container-mobiles .mobiles-carts .mob-cart {
        width: 297px;
    }

}
@media (max-width:1261px) {
    header .container-h .top-nav .open-nav{
        display: none;
    }
    header .container-h .bottom-nav .close-nav {
        display: none;
    }
    header .container-h .top-nav {
        gap: 100px;
    }
    header .container-h .bottom-nav {
        gap: 100px;
    }

    .slider-co .container-co .carousel .carousel-inner .carousel-item img {
        
        width: 932px;
        height: 500px;
    }
    .hot-dick .container-hot .hot-carts .hot-cart {
        width: 282px;
       
    }
    .hot-dick .container-hot .hot-carts .hot-cart .buttons {
        gap: 20px;
    }
    .banner-box .container-box img {
        width: 578px;
    }
    .electronics .container-electronic .electro-carts .el-cart {
        width: 282px;
    }
    .electronics .container-electronic .electro-carts .el-cart .buttons {
        gap: 20px;
    }
    .appliances .container-appliances .appliances-carts .app-cart {
        width: 282px;
    }
    .appliances .container-appliances .appliances-carts .app-cart .buttons {
        gap: 20px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 383px;
    }
    .mobiles .container-mobiles .mobiles-carts .mob-cart {
        width: 282px;
    }
    .mobiles .container-mobiles .mobiles-carts .mob-cart .buttons {
        gap: 20px;
    }
}
@media screen and (max-width:1140px){
    .hot-dick .container-hot .hot-carts .hot-cart {
        width: 252px;
        padding-left: 15px;
    }
    .hot-dick .container-hot .hot-carts .hot-cart .buttons {
        gap: 10px;
    }
    .banner-box .container-box img {
        width: 517px;
    }
    .electronics .container-electronic .electro-carts .el-cart {
        width: 252px;
        padding-left: 15px;
    }
    .electronics .container-electronic .electro-carts .el-cart .buttons {
        gap: 10px;
    }
    .appliances .container-appliances .appliances-carts .app-cart {
        width: 252px;
        padding-left: 15px;
    }
    .appliances .container-appliances .appliances-carts .app-cart .buttons {
        gap: 10px;
    }
    main .container .row #check {
        gap: 35px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 343px;
    }
    .mobiles .container-mobiles .mobiles-carts .mob-cart {
        width: 252px;
        padding-left: 15px;
    }
    .mobiles .container-mobiles .mobiles-carts .mob-cart .buttons {
        gap: 10px;
    }
}
@media (max-width:1024px) {
    header .container-h .top-nav {
        gap: 100px;
    }
    header .container-h .bottom-nav {
        gap: 160px;
    }
    .slider-co .container-co .carousel .carousel-inner .carousel-item img {
        width: 698px;
    }
    .slider-co .container-co .carousel .carousel-indicators {
        right: 10px;
        top: 420px;
        margin-right: 550px;
    }
    .banner-box .container-box img {
        width: 459px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 304px;
    }
}
@media screen and (max-width:960px){
    .hot-dick .container-hot .hot-carts {
        gap: 50px;
    }
    .banner-box .container-box img {
        width: 425px;
    }
    .electronics .container-electronic .electro-carts {
        gap: 50px;
    }
    .appliances .container-appliances .appliances-carts {
        gap: 50px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 280px;
    }
    .mobiles .container-mobiles .mobiles-carts {
        gap:50px;
    }
    main .container .row #check .carts-check {
        width: 700px;
    }
    main .container .row #check .address-coupon {
        width: 700px;
    }
}
@media (max-width:768px){
    header .container-h .top-nav {
        gap: 20px;
    }
    header .container-h .bottom-nav {
        gap: 0px;
    }
   
    .slider-co .container-co {
        flex-wrap: wrap;
    }
    .slider-co .container-co .carousel .carousel-inner .carousel-item img {
        width: 100%;
    }
    .basket .container .row .carts {
        height: 763px;
    }
    .slider-co .container-co .side-bar img {
       display: none;
    }
    .hot-dick .container-hot .hot-carts .hot-cart {
        width: 329px;
    }
    .banner-box .container-box {
        gap: 20px;
    }
    .banner-box .container-box img {
        width: 676px;
    }
    .electronics .container-electronic .electro-carts .el-cart {
        width: 329px;
    }
    .appliances .container-appliances .appliances-carts .app-cart {
        width: 329px;
    }
    .banner-box2 .container-banner-box2 {
        gap:20px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 676px;
    }
    .mobiles .container-mobiles .mobiles-carts .mob-cart {
        width: 329px;
    }
}
@media screen and (max-width:720px){
    header .container-h .top-nav {
        gap: 9px;
    }
    header .container-h .bottom-nav .nav-items-h .nav-link-h {
        margin-right: 10px;
    }
    header .container-h .bottom-nav .log-sign .sign {
        margin-left: 20px;
    }
    .hot-dick .container-hot .hot-carts .hot-cart {
        width: 285px;
    }
    .hot-dick .container-hot .hot-carts {
        gap: 45px;
    }
    .electronics .container-electronic .electro-carts .el-cart {
        width: 285px;
    }
    .electronics .container-electronic .electro-carts {
        gap: 45px;
    }
    .appliances .container-appliances .appliances-carts .app-cart {
        width: 285px;
    }
    .appliances .container-appliances .appliances-carts {
        gap: 45px;
    }
    .mobiles .container-mobiles .mobiles-carts .mob-cart {
        width: 285px;
    }
    .mobiles .container-mobiles .mobiles-carts {
        gap: 45px;
    }
    
}

@media (max-width:425px) {
    header .container-h .top-nav {
        gap: 28px;
        padding-top: 11px;
        justify-content: flex-start;
        height: 200px;
    }
    header .container-h .top-nav .sear-bar{
        order: 3;
       text-align: center;
        margin-bottom: 30px;
    }
    header .container-h .bottom-nav {
        gap: 0px;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left:-300px;
        bottom: 0;
        background-color: #000;
        transition: all 0.6s;
      
    }
    header .container-h .bottom-nav.active {
     left: 0;
      
    }
    header .container-h .bottom-nav .nav-items-h {
      text-align: center;
      width: 300px;
    }
    header .container-h .bottom-nav .nav-items-h .nav-link-h {
        display: block;
       margin-top: 50px;
    }
    header .container-h .bottom-nav .log-sign{
        margin-top: 50px;
    }
    header .container-h .bottom-nav .close-nav{
        display: block;
        margin: 0 0 0 188px;
    }
    header .container-h .top-nav .open-nav{
        display: block;
        margin-left: 50px;
    }
    header .container-h .top-nav .favourite-shop {
        margin-left: 50px;
    }
    .slider-co .container-co .carousel .carousel-indicators {
        right: 10px;
        top: 230px;
        margin-right: 331px;
    }
    .slider-co .container-co .carousel .carousel-inner .carousel-item img {

        height: 278px;
    }
    .basket .container .row .carts {
        height: 700px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 340px;
    }
    .banner-box .container-box img {
        width: 340px;
    }
    footer .container-fluid .container .row >* {
        width: 90%;
    }
    main .container .row #check .carts-check {
        width: 400px;
    }
    main .container .row #check .address-coupon {
        width: 400px;
    }
    main .container .row #check .carts-check .sub-total {
        gap: 160px;
    }
    main .container .row #check .carts-check .shoping {
        gap: 160px;
    }
    main .container .row #check .carts-check .shoping-total {
        gap: 190px;
    }
}
@media (max-width:375px) {
    header .container-h .top-nav .favourite-shop {
        margin-left: 20px;
    }
    .banner-box .container-box {
        margin: 50px 17px;
    }
    .banner-box2 .container-banner-box2 {
        margin: 50px 17px;
    }
    header .container-h .top-nav .open-nav {
        margin-left: 20px;
    }
    .hot-dick .container-hot {
        margin: 100px 0 100px 27px;
    }
    .electronics .container-electronic {
        margin: 100px 0 100px 27px;
    }
    .appliances .container-appliances {
        margin: 100px 0 100px 27px;
    }
    .mobiles .container-mobiles {
        margin: 100px 0 100px 27px;
    }
    .banner-box .container-box img {
        width: 300px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 300px;
    }
    main .container .row #check .carts-check {
        width: 360px;
    }
    main .container .row #check .address-coupon {
        width: 360px;
    }
    main .container .row #check .carts-check .sub-total {
        gap: 160px;
    }
    main .container .row #check .carts-check .shoping {
        gap: 160px;
    }
    main .container .row #check .carts-check .shoping-total {
        gap: 190px;
    }
}
@media (max-width:320px){
    header .container-h .top-nav .favourite-shop {
        margin-left: 0px;
    }
    header .container-h .top-nav {
        gap: 16px;
    }
    .slider-co .container-co .carousel .carousel-indicators {
        top: 224px;
        margin-right: 245px;
    }
    .banner-box .container-box {
        margin: 50px 17px;
    }
    .banner-box2 .container-banner-box2 {
        margin: 50px 17px;
    }
    header .container-h .top-nav .open-nav {
        margin-left: 20px;
    }
    .hot-dick .container-hot {
        margin: 100px 0 100px 27px;
    }
    .electronics .container-electronic {
        margin: 100px 0 100px 27px;
    }
    .appliances .container-appliances {
        margin: 100px 0 100px 27px;
    }
    .mobiles .container-mobiles {
        margin: 100px 0 100px 27px;
    }
    .banner-box .container-box img {
        width: 300px;
    }
    .banner-box2 .container-banner-box2 img {
        width: 300px;
    }
    .basket .container .row .carts {
        height: 700px;
    }
    main .container .row #check .carts-check {
        width: 300px;
    }
    main .container .row #check .address-coupon {
        width: 300px;
    }
}
/* end-responsive */